.menu-btn {
    width: 28px;
    height: 20px;
    z-index: 1;

    position: absolute;
    top: 1rem;
    right: 1rem;

    cursor: pointer;
    @include transition-ease;

    &__burger {
        width: 28px;
        height: 3px;
        background: set-text-color($primary-color);

        position: absolute;
        top: .5rem;
        right: 0;

        @include transition-ease;

        &::before {
            content: "";
            width: 28px;
            height: 3px;
            background: set-text-color($primary-color);

            position: absolute;
            top: -8px;

            @include transition-ease;
        }
        &::after {
            content: "";
            width: 20px;
            height: 3px;
            background: set-text-color($primary-color);

            position: absolute;
            top: 8px;

            @include transition-ease;
        }

        &.open {
            transform: rotate(720deg);
            background: transparent;

            &::before {
                transform: rotate(45deg) translate(5px, 8px);
            }
            &::after {
                width: 28px;
                transform: rotate(-45deg) translate(3px, -7px);
            }
        }
    }
}

.nav {
    width: 100vh;
    opacity: 0.98;
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;

    &.open {
        visibility: visible;
    }

    .menu-nav {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        background: $primary-color;
        list-style: none;
        padding-right: 1rem;
        transform: translateY(-100%);

        @include transition-ease;

        &.open {
            transform: translateY(0);
        }

        &__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            transform: translateX(100vw);

            @include transition-ease;

            &.open {
                transform: translateX(0);
            }

            &.active {
                color: $secondary-color;
            }
        }

        &__link {
            display: inline-block;
            font-size: 2rem;
            text-transform: uppercase;
            padding: 2rem 0;
            font-weight: 300;

            @include transition-ease;

            &:hover {
                color: $secondary-color;
            }
        }
    }
}
